{
  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": 13
  },
  "rules": {
    "no-continue": "off",
    "no-console": "off",
    "import/prefer-default-export": 0,
    "max-len": [
      "error",
      {
        "code": 150
      }
    ],
    "no-underscore-dangle": 0,
    "object-curly-newline": [
      "error",
      {
        "ObjectPattern": {
          "multiline": true,
          "minProperties": 6
        }
      }
    ]
  }
}